version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: hotel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hotel_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend/hotel-backend
      dockerfile: Dockerfile.backend
    container_name: hotel_backend
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/hotel_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: 8081
      jwt.secret: ChangeThisSecretForDev1234567890SecretKeyChangeMe
      jwt.expirationMs: 86400000
    depends_on:
      - db
    ports:
      - "8081:8081"

  frontend:
    build:
      context: ./frontend/hotel-frontend
      dockerfile: Dockerfile.frontend
    container_name: hotel_frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data:
