html, body, #root {
  height: 100%;
  margin: 0;
  background: 
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("/backgrounds/hotel-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #111827;
}
